.about {
  height: 100vh;
  width: 100vw;
  position: relative;
  scroll-snap-align: end;
  scroll-snap-stop: always;

  .about_video {
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
    padding: 2rem;

    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .about_text {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
  }
}