.navbar {
    position: fixed;
    height: 10vh;
    width: 100vw;
    z-index: 1;  
    .navbar_logo {
      position: relative;
      height: 100%;
      width: 20%;
      float: left;
    }
    .navbar_items {
      position: relative;
      right: 4rem;
      ul {
        display: flex;
        justify-content: right;
        list-style-type: none;
        li {
            padding: 1rem;
        }
      }
    }
  }