.navbar {
    position: fixed;
    display: inline-block;
    height: 15vh;
    width: 100vw;
  }
  
.navbarLogo {
  position: relative;
  height: 100%;
  width: 20%;
  left: 0;
  float: left;
}

.navbarItems {
  position: relative;
  right: 0;
  width: 75%;
  display: flex;
  justify-content: center;
}